.container {
  width: max-content;
}

header {
  color: black;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
}

hr {
  border: 1px solid black;
  margin-bottom: 30px
}

.about_txt {
  margin-top: 50px;
}

.about_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 32px;
  font-weight: bold;
}


/* h2{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 70px;
} */


/* .column {
  float: left;
  width: 33.33%;
  padding: 5px;
} */

.self {
  background-color: #ffa07a;
  padding-bottom: 50px;
}

h3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  color: #000000
}

h4{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  color: #000000
}


h6 {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;

}

.social {
  justify-content: center;
  text-align: center;
}

.social a {
  margin: 10px 10px;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 110px;
  background-color: #f5f6fa;
  border-radius: 20%;
  transition: 0.5s;

}

.social a :hover{
  transform: scale(1.4);
  transition: .5s;
}

.copyright {
  justify-content: center;
  background-color: #3a3451;
  color: #fff;
  text-align: center;
  margin-top: 50px;
  padding: 30px 30px;
  font-family: 'Courier New', Courier, monospace;

}

/* .coloumn{
  width: 33.33%;

} */



.col-md-4 {
  margin-top: 50px;
}
