<div class="container-fluid col-md-12"
  style="background-image: url('../../../assets/images/ranger-4df6c1b6.png');  background-attachment: fixed; background-size: 100% 100%;">
  <div class="row">

    <div class="container-fluid col-md-10 about_txt">
      <header>About</header>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <h1>I'm transforming myself and it's time to start living the life I've imagined.</h1>
        </div>
        <div class="col-md-6">
          <p style="font-size: 18px; font-family: 'Courier New', Courier, monospace; font-weight: bold; ">To be a
            successful professional, work in a highly competitive environment and contribute my best for
            the growth of organization. Opening to grasp the new learning and skills. To upgrade my knowledge
            under the correct mentorship. I am very enthusiastically looking forward to start my career path with
            your organization, because I believe the first workplace is a homeland and school for a fresher. I am
            very excited for this new journey.</p>
        </div>
      </div>
    </div>

    <div class="container-fluid col-md-12">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <img class="img-fluid about_img" src="../../../assets/images/Shubham_image2 (1).jpg">
        </div>
      </div>
      <div class="row justify-content-center" style="margin-top: 20px; margin-bottom: 100px;">
        <div class="col-md-3">
          <p>In 2008, I wrote my first book Success Yourself, and it was a real success, forgive me the wordiness. My
            upcoming book Inflated Expectations: Free Yourself from Your Past, Live Your Present and Get the Future You
            Want is the guidebook for how to treat disappointment on the emotional, mental, behavioral and spiritual
            levels</p>
        </div>
        <div class="col-md-3">
          <p>In 2008, I wrote my first book Success Yourself, and it was a real success, forgive me the wordiness. My
            upcoming book Inflated Expectations: Free Yourself from Your Past, Live Your Present and Get the Future You
            Want is the guidebook for how to treat disappointment on the emotional, mental, behavioral and spiritual
            levels</p>
        </div>
        <div class="col-md-3">
          <p>In 2008, I wrote my first book Success Yourself, and it was a real success, forgive me the wordiness. My
            upcoming book Inflated Expectations: Free Yourself from Your Past, Live Your Present and Get the Future You
            Want is the guidebook for how to treat disappointment on the emotional, mental, behavioral and spiritual
            levels</p>
        </div>
      </div>
    </div>


    <div class="container-fluid self">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <img class="img-fluid" src="../../../assets/images/Shubham_img1.jpg">
        </div>
        <div class="col-md-4">
          <h3>My thirst for personal growth continued as I dived into self-help brochures and books, attended seminars
            and lecturers, got trained in Hyderabad and eventually pursued my Bachelor’s degree in Computer Science &
            Engineering from
            AKTU University.</h3>
          <h3>My thirst for personal growth continued as I dived into self-help brochures and books, attended seminars
            and lecturers, got trained in Hyderabad and eventually pursued my Bachelor’s degree in Computer Science &
            Engineering from
            AKTU University.</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <h4>My thirst for personal growth continued as I dived into self-help brochures and books, attended seminars
            and lecturers, got trained in Hyderabad and eventually pursued my Bachelor’s degree in Computer Science &
            Engineering from
            AKTU University.</h4>
            <h4>My thirst for personal growth continued as I dived into self-help brochures and books, attended seminars
              and lecturers, got trained in Hyderabad and eventually pursued my Bachelor’s degree in Computer Science &
              Engineering from
              AKTU University.</h4>
        </div>
        <div class="col-md-4">
          <img class="img-fluid" src="../../../assets/images/shubham_image3.jpg">
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row social">
        <div class="col-md-4">
          <h6>Follow Shubham Poddar</h6>
          <a href="https://www.facebook.com/shubham.poddar.9889" target="_blank"><i class="fa fa-facebook"
              aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/im_suvm/" target="_blank"><i class="fa fa-instagram"
              style="color: #e84393;" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/shubham-poddar-2a44201a0/" target="_blank"><i class="fa fa-linkedin"
              style="color: #0097e6;" aria-hidden="true"></i></a>
          <a href="https://twitter.com/im_shubham777" target="_blank"><i class="fa fa-twitter" style="color: #0097e6;"
              aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row copyright">
        <footer>
          &copy; Createdby Shubham Poddar | All rights reserved </footer>
      </div>
    </div>
  </div>
</div>
